{%- import "nav-macro.njk" as navMacro -%}
	<header id="masthead" class="site-header" role="banner"><div class="header-logo-menu-wrapper"><div class="logo-ads-wrapper clearfix"><div class="mt-container">		<div class="site-branding">
			<a href="/" class="custom-logo-link" rel="home"{% if isHome %} aria-current="page"{% endif %}><img width="300" height="86" src="/media/2019/10/cropped-300x86-IAESTE-LC-Malaga.png" class="custom-logo" alt="IAESTE LC Málaga" decoding="async"></a>							<div class="site-title-wrapper">
											<p class="site-title"><a href="/" rel="home">IAESTE LC Málaga</a></p>
											<p class="site-description">Es una organización no gubernamental, independiente, apolítica y sin ánimo de lucro creada en 1948 y que actualmente se encuentra en más de 87 países de todo el mundo.</p>
									</div><!-- .site-title-wrapper -->
					</div><!-- .site-branding -->
<div class="header-content-wrapper"><div class="mt-social-icons-wrapper"><span class="social-link"><a href="https://www.facebook.com/iaestelcmalaga/" target="_blank"><i class="fa fa-facebook-f"></i></a></span><span class="social-link"><a href="https://twitter.com/iaeste_malaga" target="_blank"><i class="fa fa-twitter"></i></a></span><span class="social-link"><a href="https://www.instagram.com/iaestemalaga" target="_blank"><i class="fa fa-instagram"></i></a></span></div><!-- .mt-social-icons-wrapper --></div><!-- .header-content-wrapper --><div class="clearfix"></div></div><!-- .mt-container --></div><!-- .logo-ads-wrapper -->		<div class="menu-search-wrapper">
				<div class="mt-container">
					<nav id="site-navigation" class="main-navigation" role="navigation">
						<div class="menu-toggle hide"> <i class="fa fa-navicon"> </i> </div>
						<div class="menu-menu-principal-container"><ul id="primary-menu" class="menu">
{%- for node in nav.primary -%}
{{ navMacro.navItem(node, page.url, menuOnlyAncestor) }}
{% endfor -%}
</ul></div>					</nav><!-- #site-navigation -->


		            		          </div>
        </div><!-- .menu-search-wrapper -->
</div><!-- header-logo-menu-wrapper --></header><!-- #masthead -->
